body {
  font-family: MS Sans Serif, Arial, Helvetica, sans serif;
}
p {
  text-align: center;
}
h1 {
  display:block;
  text-align:center;
  margin:0;
  padding:20px 0 0 0;
  text-shadow: 1px 2px 3px #777;
}
h2{
  display:block;
}
h3 {
  display:block;
  text-align:center;
  margin: 0;
  padding:0;
}

canvas {
  display:block;
  margin:0 auto;
  position:relative;
}

#buttonArea {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

#panel {
    border: 2px solid #ccc;
    display: none;
    height: 75px;
    left: 50%;
    margin-left: -250px;
    margin-top: -50px;
    opacity: 0.95;
    position: absolute;
    text-align: center;
    width: 500px;
    z-index: 1000;
}
#panel.win{
	background: #effdef none repeat scroll 0 0;
}

#panel.lose{
	background: #fdefef none repeat scroll 0 0;
}


button.awesome, .button.awesome {
	background: #222;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.blue.awesome {
	background-color: #2daebf;
}

.red.awesome {
	background-color: #e33100;
}

.magenta.awesome {
	background-color: #a9014b;
}

.orange.awesome {
	background-color: #ff5c00;
}

.yellow.awesome {
	background-color: #ffb515;
}